aniso8601==8.0.0
arrow==0.15.5
Click==7.0
croniter==0.3.31
elasticsearch==7.5.1
elasticsearch-dsl==7.1.0
Flask==1.1.1
Flask-RESTful==0.3.7
Flask-RQ2==18.3
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
MyApplication==0.1.0
python-dateutil==2.8.1
pytz==2019.3
redis==3.4.1
rq==1.2.2
rq-dashboard==0.6.1
rq-scheduler==0.9.1
six==1.14.0
urllib3==1.25.8
Werkzeug==0.16.0
gunicorn==19.9.0
gevent==1.4.0
